

body {
    font-family: arial;
    font-size: 12px;
    margin:0;
    padding:0;
    color: #333;
    text-align: center;
    background:url(/images/pinstripes.png);
}

p {
    line-height: 15px;
    margin-top:10px;
    margin-bottom:10px;
}

a {
    text-decoration: none;
    color: #369;
padding:3px;
}

.container a:hover {
    background-color: #EEE;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

img:hover {
	background:none;
}

input, textarea {
    width: 290px;
    font-size: 14px;
  font-family:arial;
}

input.text, textarea.text {
    border: 1px solid #aaa;
    padding: 3px 4px 4px 4px;
}

input.button {
height:27px;
display:block;
width:300px;
color:#000;
border-color:#666;
background: #9cacc0 url(/images/toolbar.png) repeat-x; 
-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

textarea {
    border: 1px solid #8496BA;
    /*width:300px;*/
    /*height:30px;*/
}


h1{
	font-size: 25px;
	text-align:center;
	color: #369;
	font-weight:bold;
}
h1, h2, h3 {
    line-height: 1.25;
    margin-top: 13px;
    color: #005B8B;
    font-weight: bold;
}

h2 { font-size: 15px; color: #369; margin-bottom: 6px; }
h3 { font-size:0.9em;}

.secondary {

    font-size: 11px;
    margin-top:2px;
}



ul {
    padding:0;
    margin-left:0;
}

li {
    margin-left:0;
    list-style-type: disc; 
    margin-bottom: 5px;
}

ul li ul li { list-style-type: circle; }

label {
    display: block;
    margin-top:15px;
    margin-bottom:3px;
    font-weight:bold;
}

.hr { border-bottom: 1px solid #ddd; }


.center {
    text-align:center;
}

img {
    border:0;
}

a img {
    border:0;
}

p {
	text-align:left;
}
p a, ul a{
	text-decoration:underline;
}

/* Font @end */

/* @group Outer Containers */

.clear {
    clear:both;
}

#top {
background: #6E8EAE url(/images/top.jpg) repeat-x 0% 0%;

}

#top .name {
    float:right;
}



.container {
	 background: #FFF;
    margin: auto;
    padding: 5px 10px;
    text-align: left;
    width: 300px;
}

li {
    margin: 0.25em 0 0.25em 1.25em
}


#footer {
    margin-top:20px;
    padding:0;
    height:30px;

}

#footer .container{
	height: 35px;
	-moz-border-radius: 10px;
-webkit-border-radius:10px;
}

#footer a {
    font-weight:bold;
}


/* Footer @end */

/* @group Form */

.button {
-moz-background-clip: border;
-moz-background-inline-policy: continuous;
-moz-background-origin: padding;
background: transparent url(/images/button.png) repeat-x scroll left center;
/*  #D5BD98 #935E0D #935E0D #D5BD98;*/
padding: 2px 4px 2px 4px;
cursor: pointer;
-x-system-font: none;
font-family: Arial,Helvetica,"Nimbus Sans L",sans-serif;
font-size: 1.0em;
font-size-adjust: none;
-moz-border-radius: 10px;
-webkit-border-radius:10px;
border:1px solid #2C5993;
color: #fff;
font-weight:bold;
padding-left:10px;
padding-right:10px;
padding-top:1px;
}



.pad {
    margin:0 10px 0 10px;
}

.button:hover {
/*    border:1px solid #bbb;*/
}

input.placeholder, textarea.placeholder { color: #a9a9a9 !important; }


#top a {

}

#top .title {
    font-size:20px;
    font-weight:bold;
}

#top div {
padding-bottom: 1px;
padding-top: 2px;
height:26px;
}

