a, a img{
border:medium none;
}


.mainMenu {
	position: relative;
	height: 150px;
	width: 100%;
	margin-top:20px;
	text-align: center;
}
.topMainMenu {
	width: 80%;
	position: relative;
	height: 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.mainNav {
	width: 100%;
	position: relative;
	text-align: left;
}
#contact {
/* background: url('/images/contact.png'); */
background: url('/images/contact_hover.png');
display:block;
left:275px;
position:absolute;
top:73px;
height:12px;
width:169px;
}

#contact:hover {
/* background: url('/images/contact_hover.png'); */
}

#phone {
background:transparent url(/images/phone.png) repeat scroll 0 0;
display:block;
height:12px;
position:absolute;
width:97px;

/*
left:410px;
top:90px;
*/
left:460px;
top:73px;
}

.islink{
cursor:pointer;
}


* {
	margin: 0px;
	padding: 0px;
}
#ai {
left:285px;
position:absolute;
top:0;
}
.nav {
left:300px;
position:absolute;
top:0;
}
#logo {
left:-50px;
position:absolute;
top:0px;
background:transparent url(/images/taiLogo.png) repeat scroll 0 0;
width: 425px;
height: 68px;
}

#logo:hover, #logoHidden{
/* background:transparent url(/images/taiLogoHover.png) repeat scroll 0 0; */
}

#test {
	background-image: url(/images/dots.png);
	background-repeat: repeat-x;
	width: 10%;
	background-position: -10px;
}
#pageContainer {
margin:30px auto;
width:1000px;
}

/** 
 * Slideshow style rules.
 */
#slideshow {
        margin:0 auto;
        width:980px;
        height:450px;
        /* background:transparent url(img/bg_slideshow.jpg) no-repeat 0 0; */
        position:relative;
}
#slideshow #slidesContainer {
  margin:0 auto;
  width:850px;
  height:450px;
  overflow:auto; /* allow scrollbar */
  position:relative;
}
#slideshow #slidesContainer .slide {
  margin:0 auto;
  width:820px; 
  height:450px;
}

/** 
 * Slideshow controls style rules.
 */
 #controls {
margin:30px 0 -45px 380px;
position:absolute;
z-index:60;
}
.control {
  display:block;
  width:55px;
  height:21px;
  float:left;
}

.control.active{
  cursor: pointer;
}

#leftControl {
left:240px;
position:absolute;
}

#leftControl.active{
background:transparent url(/images/leftArrow.png) repeat scroll 0 0;
}

#leftControl.active:hover, #hiddenleftControl{
background:transparent url(/images/leftArrowHover.png) repeat scroll 0 0;
}
#rightControl {
  margin-left:406px;
}

#rightControl.active{
background:transparent url(/images/rightArrow.png) repeat scroll 0 0;
}

#rightControl.active:hover, #hiddenrightControl{
background:transparent url(/images/rightArrowHover.png) repeat scroll 0 0;
}

#hiddenrightControl, #hiddenleftControl, #logoHidden{
	filter: alpha(opacity=0) !important;
	-khtml-opacity: 0 !important;
	opacity: 0 !important;
}

/** 
 * Style rules for Demo page
 */
.slide img {
  
        margin:0;
        border:none;
}

.slide .imageContainer{
display:none;
}
