<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Administration</title>
    <link rel="stylesheet" href="/css/reset.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="/css/admin.css" type="text/css" media="all" charset="utf-8"/>
    <link rel="stylesheet" href="/css/lightbox.css" type="text/css" media="screen" charset="utf-8"/>

    <script src="js/jquery-1.3.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery.lightbox-0.5.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/admin.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="main">
        <div id="head">
            <h1>{{ site_name }} <span>Admin Interface</span></h1>
            <a href="{{logout}}">logout</a>
        </div> <!-- end head -->

        <div id="content">
        <div style="font-size:20px;">Add An Image</div><br/>
            <form action="/upload" enctype="multipart/form-data" method="post">
                <label for="img">Upload Image File</label>
                <input type="file" name="img" id="img"/>
                <label for="width">Title</label>
                <input type="text" name="title" id="title"/>
{% comment %}
                <label for="width">Width (Optional)</label>
                <input type="text" name="width" id="width" class="txt"/>
                <label for="height">Height (Optional)</label>
                <input type="text" name="height" id="height" class="txt"/>
{% endcomment %}
                <input type="submit" value="Upload"/>
            </form>
            
            <p>Images are stored with a width of 850 pixels and height of 450 pixels. All images are converted to pngs. Maximum 1MB.</p>

            {% if images %}<br/><br/>
             <div style="font-size:20px;">Update Saved Images</div>
            <ul id="images">
            {% for image in images %}
                <li>
                    <a href="/i/img?id={{image.key}}" class="lightbox"><img src="/i/thumb?id={{image.key}}"/></a><br/>
                    
                    <form action="/upload" enctype="multipart/form-data" method="post">
                        <input type="hidden" value="{{image.key}}" name="key"/>

                        <div style="margin-top:5px;">
                        Update Title: <input type="text" style="width:300px;" value="{{ image.title }}" name="title" id="title"/>
                        </div>                 
                        <div style="margin-top:5px;">
                        Update File: <input type="file" name="img" id="img"/>
                        </div>
                        <div style="margin-top:5px;">
                        Current Position: <span style="font-weight:bold;">{{ forloop.counter }}</span><br/>
                        Update Position: <select value="New Position" name="position">
                         <option value="" selected='true'></option>
                         {% for c in image_count %}
                        <option value="{{ c }}">{{ c }}</option>
                        {% endfor %}
                        </select>
                        </div>
                        <div style="margin-top:5px;">
                        <input type="submit" value="Update" name="update"/>
                        </div>             
                    </form>

                    <form action="/delete" method="post">
                        <input type="hidden" value="{{image.key}}" name="key"/>
                        <input type="submit" value="Delete" name="delete"/>
                    </form>
                    
                </li>
<div style="height:20px; clear:both;"></div>
            {% endfor %}
            </ul> <!-- end images -->
            {% endif %}
            
        
        </div> <!-- end content -->
    </body>
</html>
