<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta name="robots" content="index, follow" /><title>Awkward Beauty</title>
<link href="/css/index.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" media="screen" href="css/jquery.lightbox-0.5.css" />
<script type="text/javascript" src="js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="js/jquery.lightbox-0.5.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
</head><body>
<div id="pageContainer"><!-- Slideshow HTML -->
<div id="slideshow">
<div id="slidesContainer" style="overflow-x: hidden; overflow-y: hidden;">
	<div id="slideInner" style="width: {{ total_width }}px;">

{% for image in images %}

<div class="slide" style="float: left; width: 850px;">
<div class="imageContainer">
<a href="/i/img?id={{ image.key }}" title={{ image.title }}>
<img _src="/i/img?id={{ image.key }}">
</a>
</div>	
</div>

{% endfor %}


</div>
</div>
</div>
</div>
<div class="mainMenu">
<div id="controls">
<span class="control" id="leftControl">
</span>
<span class="control active" id="rightControl">
</span>
</div>
<div class="topMainMenu">
<div class="mainNav">
<span id="logo">
<img src="images/taiLogo.png" width="425" height="68" alt="T'ai Rising-Moore Logo" /></span>
<span id="test"><img src="images/blank.png" width="100" height="50" /></span> 
<span class="nav"><!-- <img id="leftControl" src="images/leftArrow.png" width="48" height="21" alt="Left Arrow" /> --> <img src="images/exhibit.png" width="100" height="8" alt="Exhibit" />
 <!-- <img id="rightControl" src="images/rightArrow.png" width="55" height="27" alt="Right Arrow" /> --></span> <!-- <img src="images/dots.png" width="305" height="2" alt="......." /> --> 
<span id="test"><img src="images/blank.png" width="50" height="50" /><img src="images/blank.png" width="50" height="50" /></span> <span id="ai"><img src="images/artInspiration.png" width="163" height="9" alt="Art.Insp" /></span>
</div><br /><a href="mailto:tai@awkwardbeauty.ca"><img id="mainNav2" src="images/contact.png" width="288" height="12" alt="contact" name="mainNav2" /></a></div></div></body></html>
